:root {
  --primary-800: hsl(240, 100%, 8%);
  --primary-800-a: hsl(240, 100%, 15%);
  --primary-500: hsl(200, 100%, 50%);
  --primary-500-a: hsla(200, 100%, 50%, 0.5);

  --gold: hsl(51, 100%, 50%);

  --white: #fff;
}
