@use '../util' as u;

.contact {
  margin-block-start: 5em;
  h2 {
    margin-block-end: 2rem;
    text-align: center;
  }
  form {
    max-width: 400px;
    margin-inline: auto;
    background-color: var(--primary-500-a);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .form__control {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    label {
      display: block;
      font-weight: 700;
    }

    input,
    textarea {
      padding-block: 5px;
      font-size: 18px;

      border: 0;
      border-radius: 10px;
      padding-inline-start: 10px;
    }

    input {
      padding-block: 5px;
    }
  }

  button {
    padding: 5px 20px;
    background-color: #ffffff;
    color: var(--primary-500);
    border: 0;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    transition: ease-in-out 300ms;

    cursor: pointer;

    &::before {
      @include u.breakpoint(medium) {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--primary-500);
        color: var(--white);
        z-index: -1;

        transform: scaleX(0);
        transform-origin: left;
        transition: transform 300ms ease-in-out;
      }
    }

    &:hover,
    &:focus {
      @include u.breakpoint(medium) {
        color: var(--white);
      }
      &::before {
        transform: scaleX(1);
      }
    }
  }
}
