@use '../util' as u;

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;

  width: 50px;
  aspect-ratio: 1;
  background-color: transparent;

  @include u.breakpoint(medium) {
    display: none;
  }

  span {
    height: 5px;
    width: 100%;
    background-color: var(--white);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;

    &:nth-child(1) {
      top: 25%;
    }

    &:nth-child(3) {
      top: 75%;
    }
  }

  &.active {
    span {
      &:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.navbar {
  &__links {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 2rem);

    padding-block-start: 4rem;
    padding-inline-start: 2rem;

    position: absolute;
    top: -2rem;
    right: -50px;

    background-color: var(--primary-500-a);
    width: 70%;
    height: 100vh;

    transform: translateX((180%));
    transition: transform 300ms ease-in-out;

    @include u.breakpoint(medium) {
      flex-direction: row;
      align-items: center;
      gap: 20px;
      background-color: transparent;

      padding: 0;

      width: 100%;
      height: 0;

      position: static;
      transform: translateX(0%);
    }

    a.link {
      text-transform: uppercase;

      &::after {
        @include u.breakpoint(medium) {
          content: '';
          display: block;
          height: 3px;
          width: 100%;
          background-color: var(--white);

          transform: scaleX(0);
          transform-origin: left;
          transition: transform 300ms ease-in-out;
        }
      }

      &:hover {
        &::after {
          @include u.breakpoint(medium) {
            transform: scaleX(1.1);
          }
        }
      }
    }

    button {
      padding: 5px 20px;
      background-color: #ffffff;
      color: var(--primary-500);
      border: 0;
      position: relative;
      z-index: 1;
      text-transform: uppercase;
      transition: ease-in-out 300ms;

      cursor: pointer;

      &::before {
        @include u.breakpoint(medium) {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: var(--primary-500);
          color: var(--white);
          z-index: -1;

          transform: scaleX(0);
          transform-origin: left;
          transition: transform 300ms ease-in-out;
        }
      }

      &:hover,
      &:focus {
        @include u.breakpoint(medium) {
          color: var(--white);
        }
        &::before {
          transform: scaleX(1);
        }
      }
    }
  }

  [data-visible='true'] {
    transform: translateX(0%);
  }
}
