@use '../util' as u;

.projects {
  h1 {
    margin-block-start: 1.5rem;
    text-align: center;
  }

  .projects-content {
    margin-block-start: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include u.breakpoint(medium) {
      flex-direction: row;
    }
  }

  .project {
    &__content {
      h2 {
        margin-block: 0.9rem;
      }

      h3 {
        margin-block-end: 1.5rem;
      }
    }

    &__image {
      margin-block-start: 1.5rem;
    }

    &__btns {
      margin-block-start: 1rem;
      display: flex;
      justify-content: center;
      gap: 20px;

      button {
        padding: 5px 20px;
        background-color: #ffffff;
        color: var(--primary-500);
        border: 0;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        transition: ease-in-out 300ms;

        cursor: pointer;

        &::before {
          @include u.breakpoint(medium) {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--primary-500);
            color: var(--white);
            z-index: -1;

            transform: scaleX(0);
            transform-origin: left;
            transition: transform 300ms ease-in-out;
          }
        }

        &:hover,
        &:focus {
          @include u.breakpoint(medium) {
            color: var(--white);
          }
          &::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
