.skills {
  margin-block-end: 2rem;
  h1 {
    display: flex;
    justify-content: center;
    margin-block-end: 2rem;
  }

  .languages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }

  .language {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        max-width: 100px;
        transition: all 300ms;
      }
    }

    &:hover .language__image img {
      filter: brightness(80%);
      opacity: 0.86;
      transform: scale(0.9);
    }

    &__name {
      p {
        position: absolute;
        bottom: 20px;
        transform: scale(0);
        transition: all 300ms;
        font-size: 20px;
        opacity: 0;
      }
    }

    &:hover .language__name p {
      transform: scale(1);
      opacity: 1;
    }
  }
}
